openapi: 3.1.0
info:
  title: DivalHR API
  version: 0.1.0
  description: Initial contract skeleton for the bilingual DivalHR platform.
tags:
  - name: system
    description: Platform status
  - name: identity
    description: Identity and session
  - name: tenant
    description: Tenant and organization configuration
servers:
  - url: https://api.divalhr.com/api/v1
security:
  - oauth2: []
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      x-divalhr-lifecycle: implemented
      summary: Public, non-sensitive Core API status
      description: >-
        Anonymous endpoint used by the web status screen and uptime checks. Returns no
        dependency, configuration or tenant information.
      tags: [system]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Service is ready
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
  /session:
    get:
      operationId: getCurrentSession
      x-divalhr-lifecycle: implemented
      summary: Verified tenant and effective roles of the caller
      description: >-
        Returns only the verified tenant identifier and the caller's effective roles. A tenant role
        (tenant-admin, employee) is returned only when the access token carries it and the caller's
        tenant membership belongs to the token's tenant with that same role (MVP-012A).
        platform-admin is returned from the token alone and is never derived from a membership; a
        platform administrator's tenant claim grants no tenant role by itself. tenantId is the
        verified tenant claim, or null for a platform-administrator token without one; it never
        implies tenant access. A token carrying only tenant roles (or no recognised role) without a
        valid tenant claim gets 403 TENANT_CONTEXT_MISSING. Never returns names, e-mail addresses,
        token contents, internal identity-provider roles, or why a role is missing. Requires no MFA
        assurance, so a privileged user whose session has not reached multifactor level can still
        load the app and be asked to step up.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /organizations:
    get:
      operationId: listOrganizations
      x-divalhr-lifecycle: planned
      summary: List authorized organizations
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Authorized organizations
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
    post:
      operationId: createOrganization
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Create an organization (platform provisioning)
      description: >-
        Platform-scoped operation (MVP-001). Only a platform administrator may call it. The server
        generates the organization UUID, which is also the new tenant identifier; the caller's own
        tenant claim is never used. Retries with the same Idempotency-Key and a semantically
        identical payload replay the original 201 response (header Idempotent-Replayed: true)
        without creating another organization. Submitted values are never echoed in errors.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganization"
      responses:
        "201":
          description: Organization created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /organizations/{organizationId}/tenant-admin-bootstrap:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    get:
      operationId: getTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Whether an organization's first tenant administrator can be invited
      description: >-
        MVP-014. available is true only while the organization has no tenant-admin membership and
        no open (PENDING or ACCEPTING) tenant-admin invitation of any origin. invitation is the
        organization's open PLATFORM_BOOTSTRAP invitation, if any, as a receipt without the
        address; tenant-created invitations, memberships, addresses, actors and identity-provider
        state are never returned. A missing, malformed or non-active organization ID returns 404
        ORGANIZATION_NOT_FOUND. The caller's own tenant claim is never used.
      tags: [tenant]
      responses:
        "200":
          description: Bootstrap availability and the open bootstrap invitation
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantAdminBootstrap"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Invite an organization's first tenant administrator
      description: >-
        MVP-014. Creates a PENDING tenant-admin invitation with origin PLATFORM_BOOTSTRAP and,
        after the transaction commits, sends the invitation email once. Allowed only while the
        organization has no tenant-admin membership and no open tenant-admin invitation of any
        origin; otherwise 409 TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE without params. The rule is
        checked inside the write transaction under the organization's tenant-administration lock,
        which every path that creates a tenant-admin invitation or membership shares. The role is
        fixed by the operation. The address is normalized like createInvitation. The invitation
        counts toward the tenant's invitation quotas (INVITATION_RATE_LIMITED); each platform
        administrator may also create at most a small number of bootstrap invitations per hour
        (RATE_LIMITED). The receipt has no address; a retry with the same Idempotency-Key and an
        identical payload for the same organization replays the original 201 exactly
        (Idempotent-Replayed) and sends nothing; the same key for another organization or
        payload returns IDEMPOTENCY_KEY_REUSED.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantAdminBootstrap"
      responses:
        "201":
          description: Bootstrap invitation created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /organizations/{organizationId}/tenant-admin-bootstrap/revoke:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    post:
      operationId: revokeTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Revoke an organization's open bootstrap invitation
      description: >-
        MVP-014. Revokes the organization's open PLATFORM_BOOTSTRAP invitation (PENDING; the link
        stops working at once) and returns 204. Idempotent by state: when no open bootstrap
        invitation exists (already revoked, expired, accepted or never created) it returns 204 and
        records nothing. A bootstrap invitation being accepted at that moment returns 409
        INVITATION_NOT_PENDING. Tenant-created invitations are never affected.
      tags: [tenant]
      responses:
        "204":
          description: No open bootstrap invitation remains
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /organizations/{organizationId}/tenant-admin-bootstrap/resend:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    post:
      operationId: resendTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Reissue an organization's open bootstrap invitation
      description: >-
        MVP-014. Reissues the open PLATFORM_BOOTSTRAP invitation with a new link under the
        MVP-010 limits (at most 3 reissues, at least 5 minutes apart: 429
        INVITATION_RESEND_LIMITED) and sends the email once after commit; the address never
        changes. Under the organization's tenant-administration lock it rechecks that the
        organization has no tenant-admin membership and no other open tenant-admin invitation
        (409 TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE). Without an open bootstrap invitation it returns
        404 INVITATION_NOT_FOUND. Replays with the same Idempotency-Key for the same organization
        replay the original 200 exactly and send nothing.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The reissued bootstrap invitation, or the original reissue replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /legal-entities:
    get:
      operationId: listLegalEntities
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List legal entities of the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. The tenant comes only from the verified access
        token; no tenant identifier is accepted in headers, query parameters or bodies.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of legal entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntityPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
    post:
      operationId: createLegalEntity
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a legal entity in the caller's tenant
      description: >-
        Codes are trimmed, upper-cased and unique per tenant regardless of case. Retries with the
        same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLegalEntity"
      responses:
        "201":
          description: Legal entity created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /regions:
    get:
      operationId: listRegions
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List regions of one legal entity in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. A legal entity that does not exist and one that
        belongs to another tenant produce the same 404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of regions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a region beneath a legal entity of the caller's tenant
      description: >-
        Regions are an optional grouping of sites. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The region's effective period must lie within its legal
        entity's period; an open-ended region requires an open-ended legal entity. Retries with
        the same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegion"
      responses:
        "201":
          description: Region created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites:
    get:
      operationId: listSites
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List sites of one legal entity in the caller's tenant
      description: >-
        A legal entity that does not exist and one that belongs to another tenant produce the same
        404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of sites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createSite
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a site beneath a legal entity of the caller's tenant
      description: >-
        The site's effective period must lie within its legal entity's period; an open-ended site
        requires an open-ended legal entity. The time zone must be supported for the legal entity's
        country. regionId is optional; when given, the region must belong to the same legal entity
        and contain the site's period.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSite"
      responses:
        "201":
          description: Site created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites/{siteId}/region:
    put:
      operationId: assignSiteRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Assign a region to a site that has none (first assignment only)
      description: >-
        The region must belong to the site's legal entity, and the site's effective period must
        lie within the region's period. Retries with the same Idempotency-Key and an identical
        payload replay the original 200 with Idempotent-Replayed. Assigning the region the site
        already has, with a new key, returns 200 with the current site and records nothing new.
        Assigning a different region to a site that already has one returns 409
        SITE_REGION_ALREADY_ASSIGNED; changing or clearing a region is not supported. A malformed
        siteId returns 400 VALIDATION_FAILED; a missing or foreign site returns 404
        SITE_NOT_FOUND and a missing or foreign region 404 REGION_NOT_FOUND.
      tags: [tenant]
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignSiteRegion"
      responses:
        "200":
          description: >-
            The site with its region: newly assigned, already assigned to that region, or the
            original assignment replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /departments:
    get:
      operationId: listDepartments
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List departments of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without departments. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of departments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepartmentPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createDepartment
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a department beneath a site of the caller's tenant
      description: >-
        The department's effective period must lie within its site's period; an open-ended department
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among departments regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDepartment"
      responses:
        "201":
          description: Department created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Department"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /cost-centers:
    get:
      operationId: listCostCenters
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List cost centers of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without cost centers. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of cost centers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenterPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createCostCenter
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a cost center beneath a site of the caller's tenant
      description: >-
        The cost center's effective period must lie within its site's period; an open-ended cost center
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among cost centers regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCostCenter"
      responses:
        "201":
          description: Cost center created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenter"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /teams:
    get:
      operationId: listTeams
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: List the teams of one department or one cost center in the caller's tenant
      description: >-
        Exactly one of departmentId or costCenterId is required (an absent or empty parameter is
        not supplied): neither returns 400 TEAM_PARENT_REQUIRED and both return 400
        TEAM_PARENT_AMBIGUOUS, after format validation. Keyset-paginated, ordered by code then id.
        A parent that does not exist and one that belongs to another tenant produce the same 404
        DEPARTMENT_NOT_FOUND or COST_CENTER_NOT_FOUND. Cursors are bound to the operation, the
        tenant, the parent type and the parent id.
      tags: [tenant]
      parameters:
        - name: departmentId
          in: query
          required: false
          description: The parent department. Mutually exclusive with costCenterId.
          schema:
            type: string
            format: uuid
        - name: costCenterId
          in: query
          required: false
          description: The parent cost center. Mutually exclusive with departmentId.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTeam
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: Create a team beneath exactly one department or cost center of the caller's tenant
      description: >-
        The body names exactly one parent (see CreateTeam). The team's site is derived from that
        parent and never accepted from the request. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The team's effective period must lie within its parent's
        period; an open-ended team requires an open-ended parent. Retries with the same
        Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeam"
      responses:
        "201":
          description: Team created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /invitations:
    get:
      operationId: listInvitations
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List invitations of the caller's tenant
      description: >-
        Newest first (createdAt then id, both descending), keyset-paginated. The optional status
        filter uses the public status: a PENDING invitation past its expiry is reported and
        filtered as EXPIRED, and one whose acceptance is in progress as PENDING. The response
        contains invitee email addresses (confidential personal data) and is marked
        Cache-Control private, no-store. It never contains tokens, token hashes or identity
        subjects. Cursors are bound to invitation.list, the verified tenant and the status filter.
      tags: [identity]
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvitationStatus"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of invitations
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
    post:
      operationId: createInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Invite a person by email with one tenant role
      description: >-
        Creates a PENDING invitation in the caller's verified tenant and, after the transaction
        commits, sends the invitation email once. Only tenant-admin and employee can be assigned;
        platform-admin and any other value are rejected like an unknown role. The email address is
        normalized (trimmed, NFC, lower-cased; the domain converted to ASCII) and compared case
        insensitively. Only the caller's own tenant is consulted: 409 INVITATION_ALREADY_PENDING
        when an open invitation for the address exists in the tenant, 409
        INVITATION_RECIPIENT_ALREADY_MEMBER when the address already belongs to a member of the
        tenant. An address known elsewhere gives the same 201 as any other. The response is an
        InvitationReceipt without the email address; retries with the same Idempotency-Key and an
        identical payload replay the original 201 exactly (Idempotent-Replayed), even after the
        invitation changed.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvitation"
      responses:
        "201":
          description: Invitation created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /invitations/{invitationId}/revoke:
    post:
      operationId: revokeInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Revoke a pending invitation
      description: >-
        PENDING becomes REVOKED and the invitation link stops working immediately. Revoking an
        invitation that is already REVOKED returns 200 with the current invitation and records
        nothing new. An accepted, expired or accepting invitation returns 409
        INVITATION_NOT_PENDING. A missing invitation and one of another tenant return the same
        404 INVITATION_NOT_FOUND; a malformed invitationId returns 400 VALIDATION_FAILED.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The revoked invitation
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /invitations/{invitationId}/resend:
    post:
      operationId: resendInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Reissue a pending invitation with a new link
      description: >-
        Generates a new token, invalidates the previous link, restarts the expiry and sends the
        email once after commit. Only the newest link is valid. At most 3 reissues per invitation,
        at least 5 minutes apart (429 INVITATION_RESEND_LIMITED with Retry-After). Replays with the
        same Idempotency-Key replay the original 200 exactly and send nothing. An invitation whose
        origin is PLATFORM_BOOTSTRAP is never reissued by a tenant administrator (409
        TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE; MVP-014); it can still be revoked.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The reissued invitation, or the original reissue replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /public/invitations/inspect:
    post:
      operationId: inspectInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: public
      summary: Inspect an invitation by its token (anonymous)
      description: >-
        The token travels only in this body, never in a URL. A usable invitation returns its role,
        locale and expiry, and nothing about the organization, tenant or any account. An unknown,
        malformed, expired, revoked or accepted token returns the same 404 INVITATION_INVALID.
        Access tokens are neither required nor read. Responses are Cache-Control no-store.
        Requests are rate limited per client (429 RATE_LIMITED with Retry-After); production
        deployments must also limit these paths at the ingress or WAF.
      tags: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationTokenRequest"
      responses:
        "200":
          description: The invitation can be accepted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPreview"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/InvitationInvalid"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /public/invitations/accept:
    post:
      operationId: acceptInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: public
      summary: Accept an invitation by its token (anonymous)
      description: >-
        Creates the invitee's identity in the identity provider with the invitation's tenant and
        role, records the tenant membership, consumes the token and asks the identity provider to
        email a link to choose a password. The email address is marked verified only because
        possessing this single-use token proves control of the mailbox. No person or employee
        record is created. 404 INVITATION_INVALID covers every unusable token. 409
        INVITATION_CANNOT_BE_ACCEPTED (no params, no reason) is returned when the address already
        has a DivalHR identity; the invitation stays pending. 409
        INVITATION_ACCEPTANCE_IN_PROGRESS and 503 IDENTITY_PROVIDER_UNAVAILABLE are retryable with
        the same token. Responses are Cache-Control no-store and rate limited like inspection.
      tags: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationTokenRequest"
      responses:
        "200":
          description: The invitation was accepted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationAcceptance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/InvitationInvalid"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees:
    get:
      operationId: listEmployees
      x-divalhr-lifecycle: planned
      summary: List employees within the authorized scope
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Employee page
    post:
      operationId: createEmployee
      x-divalhr-lifecycle: planned
      summary: Create an employee
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Employee created
  /attendance-events:
    post:
      operationId: recordAttendanceEvent
      x-divalhr-lifecycle: planned
      summary: Record an online or synchronized offline attendance event
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "202":
          description: Attendance event accepted
  /pay-periods/{payPeriodId}/inputs:
    get:
      operationId: listPayInputs
      x-divalhr-lifecycle: planned
      summary: List authorized payroll inputs for a period
      parameters:
        - name: payPeriodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Payroll inputs
  /webhooks:
    post:
      operationId: createWebhook
      x-divalhr-lifecycle: planned
      summary: Create a signed webhook subscription
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Webhook created
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://identity.divalhr.com/oauth2/authorize
          tokenUrl: https://identity.divalhr.com/oauth2/token
          scopes:
            organizations:read: Read authorized organizations
            employees:read: Read authorized employees
            employees:write: Manage authorized employees
            attendance:write: Record attendance
            payroll:read: Read authorized payroll data
  headers:
    CorrelationId:
      description: Correlation ID echoed from the request or generated by the server.
      schema:
        type: string
    IdempotentReplayed:
      description: Present with value "true" when the response replays an earlier successful request.
      schema:
        type: string
        enum: ["true"]
    CacheControlNoStore:
      description: Public invitation responses are never stored by browsers or intermediaries.
      schema:
        type: string
        enum: [no-store]
    CacheControlPrivateNoStore:
      description: >-
        Invitation administration responses may contain email addresses; browsers, offline caches
        and intermediaries must not retain them.
      schema:
        type: string
        enum: ["private, no-store"]
    RetryAfter:
      description: Seconds to wait before retrying.
      schema:
        type: integer
        minimum: 1
    WwwAuthenticateStepUp:
      description: >-
        RFC 9470 step-up challenge, sent with MFA_REQUIRED only:
        Bearer error="insufficient_user_authentication", acr_values="urn:divalhr:loa:mfa".
        The client starts a new authorization request with those acr_values.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing, invalid or expired access token
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Authenticated but not permitted (including missing or foreign tenant)
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    PrivilegedForbidden:
      description: >-
        Authenticated but not permitted. Privileged operations (x-divalhr-required-assurance: mfa)
        additionally return MFA_REQUIRED when the verified access token's acr claim is not exactly
        urn:divalhr:loa:mfa (multifactor authentication not completed for this session). Checks run
        in this order before the request is read: verified subject, required role (ACCESS_DENIED),
        verified tenant (TENANT_CONTEXT_MISSING), then MFA assurance (MFA_REQUIRED), then, for
        tenant-scoped operations, a matching tenant membership (MVP-012A): the caller's membership
        must belong to the token's tenant and carry exactly the required role, which the token must
        also hold. A missing or non-matching membership returns the same ACCESS_DENIED as a missing
        role, with no further detail. MFA_REQUIRED carries no params and never echoes claims,
        roles, subject, tenant or request data.
      headers:
        WWW-Authenticate:
          $ref: "#/components/headers/WwwAuthenticateStepUp"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    BadRequest:
      description: >-
        Invalid request. VALIDATION_FAILED lists params.fields[{field, constraint}] with
        constraint REQUIRED, LENGTH, FORMAT, RANGE, DUPLICATE or UNKNOWN_PROPERTY. The
        *_NOT_SUPPORTED codes carry params.field and params.supported. EFFECTIVE_DATE_INVALID,
        SITE_PERIOD_OUTSIDE_LEGAL_ENTITY, DEPARTMENT_PERIOD_OUTSIDE_SITE,
        COST_CENTER_PERIOD_OUTSIDE_SITE, REGION_PERIOD_OUTSIDE_LEGAL_ENTITY,
        TEAM_PERIOD_OUTSIDE_DEPARTMENT and TEAM_PERIOD_OUTSIDE_COST_CENTER carry params.field
        (effectiveFrom or effectiveTo). TEAM_PARENT_REQUIRED (no parent supplied) and
        TEAM_PARENT_AMBIGUOUS (both parents supplied) carry no params and follow format
        validation. SITE_PERIOD_OUTSIDE_REGION and
        SITE_REGION_LEGAL_ENTITY_MISMATCH carry params.field = regionId. CURSOR_INVALID carries no
        params. Invitation fields (email, role, locale) use VALIDATION_FAILED; an unsupported role,
        including platform-admin, is constraint FORMAT exactly like any unknown value. Submitted
        values, and email addresses in particular, are never echoed.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Conflict:
      description: >-
        IDEMPOTENCY_KEY_REUSED (the key was already used with a different payload), or
        DUPLICATE_LEGAL_ENTITY_CODE / DUPLICATE_SITE_CODE / DUPLICATE_DEPARTMENT_CODE /
        DUPLICATE_COST_CENTER_CODE / DUPLICATE_REGION_CODE / DUPLICATE_TEAM_CODE (the code
        already exists for that
        resource type in the tenant, in any letter case), or SITE_REGION_ALREADY_ASSIGNED (the site
        already has a different region; carries no params), or INVITATION_ALREADY_PENDING /
        INVITATION_RECIPIENT_ALREADY_MEMBER (params.field = email; only the caller's own tenant is
        consulted), INVITATION_NOT_PENDING (the invitation is accepted, expired or being
        accepted), INVITATION_CANNOT_BE_ACCEPTED or INVITATION_ACCEPTANCE_IN_PROGRESS (no params),
        or TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE (the organization already has a tenant administrator
        or an open tenant-admin invitation; no params, and which of the two is not disclosed).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: >-
        LEGAL_ENTITY_NOT_FOUND, SITE_NOT_FOUND, REGION_NOT_FOUND, DEPARTMENT_NOT_FOUND,
        COST_CENTER_NOT_FOUND or INVITATION_NOT_FOUND - the referenced resource does
        not exist in the caller's tenant. Missing and foreign-tenant resources are
        indistinguishable. ORGANIZATION_NOT_FOUND (platform operations) - the organization ID is
        malformed, unknown or not active; the cases are indistinguishable and the ID is never
        echoed.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: >-
        INVITATION_RATE_LIMITED (the tenant's invitation quota is used up),
        INVITATION_RESEND_LIMITED (at most 3 reissues per invitation, at least 5 minutes apart) or
        RATE_LIMITED (too many anonymous requests from one client, or too many bootstrap
        invitations created by one platform administrator). No params.
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    ServiceUnavailable:
      description: >-
        IDENTITY_PROVIDER_UNAVAILABLE - the identity provider could not be reached; retry with the
        same token. No params.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    InvitationInvalid:
      description: >-
        INVITATION_INVALID - the token is unknown, malformed, expired, revoked or already used. The
        cases are indistinguishable. No params.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlNoStore"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: Optional caller-supplied ID (8-64 chars of A-Z a-z 0-9 . _ -); otherwise generated.
      schema:
        type: string
        pattern: "^[A-Za-z0-9._-]{8,64}$"
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >-
        Client-generated key, scoped to the operation and the authenticated subject. Records are
        retained for at least 7 days and honoured until cleanup removes them; cleanup never removes
        a record before its retention boundary.
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]{16,128}$"
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: >-
        The target organization (its ID is the tenant ID). Taken only from the path; never from
        the caller's tenant claim. Malformed, missing and non-active IDs give the same 404
        ORGANIZATION_NOT_FOUND.
      schema:
        type: string
    InvitationId:
      name: invitationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Cursor:
      name: cursor
      in: query
      description: >-
        Opaque, signed continuation token from a previous page's nextCursor. It is bound to the
        operation, tenant and filters that produced it; any other use returns CURSOR_INVALID.
      schema:
        type: string
        maxLength: 512
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
  schemas:
    Organization:
      type: object
      description: An organization. Its id is also the tenant identifier.
      required: [id, name, countryCode, defaultLocale, timezone, currencies, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          items:
            type: string
            enum: [CDF, USD]
        status:
          type: string
          enum: [ACTIVE]
        createdAt:
          type: string
          format: date-time
    CreateOrganization:
      type: object
      additionalProperties: false
      required: [name, countryCode, defaultLocale, timezone, currencies]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 160
          description: Trimmed before validation; 2-160 Unicode characters.
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2. The MVP supports CD only.
          enum: [CD]
          example: CD
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          description: IANA time zone supported for the country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
          x-divalhr-timezones-by-country:
            CD: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [CDF, USD]
    LegalEntity:
      type: object
      required: [id, code, name, countryCode, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateLegalEntity:
      type: object
      additionalProperties: false
      required: [code, name, countryCode, effectiveFrom]
      properties:
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    LegalEntityPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LegalEntity"
        nextCursor:
          type: string
    Site:
      type: object
      required:
        [id, legalEntityId, regionId, code, name, timezone, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        legalEntityId:
          type: string
          format: uuid
        regionId:
          type: [string, "null"]
          format: uuid
          description: The site's region, or null for a site without a region.
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateSite:
      type: object
      additionalProperties: false
      required: [legalEntityId, code, name, timezone, effectiveFrom]
      properties:
        legalEntityId:
          type: string
          format: uuid
        regionId:
          type: [string, "null"]
          format: uuid
          description: >-
            Optional region of the same legal entity whose period contains the site's period. Omit
            or null for a site without a region.
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        timezone:
          type: string
          description: Must be supported for the legal entity's country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
    SitePage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Site"
        nextCursor:
          type: string
    Region:
      type: object
      required: [id, legalEntityId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateRegion:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        createdBy and any other property are rejected.
      required: [legalEntityId, code, name, effectiveFrom]
      properties:
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    RegionPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Region"
        nextCursor:
          type: string
    AssignSiteRegion:
      type: object
      additionalProperties: false
      description: >-
        Exactly one property. The tenant and legal entity are never taken from the request.
      required: [regionId]
      properties:
        regionId:
          type: string
          format: uuid
    CreateDepartment:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        legalEntityId, createdBy and any other property are rejected.
      required: [siteId, code, name, effectiveFrom]
      properties:
        siteId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    Department:
      type: object
      required: [id, siteId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    DepartmentPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Department"
        nextCursor:
          type: string
    CreateCostCenter:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        legalEntityId, createdBy and any other property are rejected.
      required: [siteId, code, name, effectiveFrom]
      properties:
        siteId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    CostCenter:
      type: object
      required: [id, siteId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CostCenterPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CostCenter"
        nextCursor:
          type: string
    CreateTeam:
      type: object
      additionalProperties: false
      description: >-
        Exactly one parent: departmentId or costCenterId. An absent property and an explicit null
        both mean "not supplied". Neither supplied returns 400 TEAM_PARENT_REQUIRED and both
        supplied returns 400 TEAM_PARENT_AMBIGUOUS; a malformed supplied id returns 400
        VALIDATION_FAILED first. The site, tenant and every server-owned field (siteId, tenantId,
        organizationId, legalEntityId, regionId, id, createdBy) are rejected.
      required: [code, name, effectiveFrom]
      properties:
        departmentId:
          type: [string, "null"]
          format: uuid
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        costCenterId:
          type: [string, "null"]
          format: uuid
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
      oneOf:
        - title: DepartmentParent
          description: A team beneath a department; costCenterId is absent or null.
          required: [departmentId]
          properties:
            departmentId:
              type: string
              format: uuid
              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            costCenterId:
              type: "null"
        - title: CostCenterParent
          description: A team beneath a cost center; departmentId is absent or null.
          required: [costCenterId]
          properties:
            costCenterId:
              type: string
              format: uuid
              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            departmentId:
              type: "null"
    Team:
      type: object
      description: >-
        A team. departmentId and costCenterId are both always present; exactly one is non-null.
        siteId is derived from the parent.
      required:
        [id, siteId, departmentId, costCenterId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        departmentId:
          type: [string, "null"]
          format: uuid
        costCenterId:
          type: [string, "null"]
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    TeamPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Team"
        nextCursor:
          type: string
    InvitationRole:
      type: string
      description: >-
        A tenant-scoped role that an invitation may assign. platform-admin is never assignable
        through a tenant endpoint.
      enum: [tenant-admin, employee]
    InvitationStatus:
      type: string
      description: >-
        Public lifecycle status. An invitation whose acceptance is in progress is reported as
        PENDING; a PENDING invitation past expiresAt is reported as EXPIRED.
      enum: [PENDING, ACCEPTED, EXPIRED, REVOKED]
    DeliveryState:
      type: string
      description: >-
        Delivery of the newest invitation link. QUEUED - created, delivery pending; SENT - the mail
        server accepted the message; FAILED - delivery failed or its outcome is unknown (the
        administrator can resend, which issues a new link). Never retried automatically.
      enum: [QUEUED, SENT, FAILED]
    CreateInvitation:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. tenantId, status, expiresAt, token
        and any other property are rejected.
      required: [email, role, locale]
      properties:
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 254
          description: >-
            Invitee address. Confidential personal data: never echoed in errors, logs, events,
            audit metadata or metrics. The local part must be ASCII (SMTPUTF8 addresses are not
            supported yet); internationalized domains are accepted and stored in ASCII (IDNA).
        role:
          $ref: "#/components/schemas/InvitationRole"
        locale:
          type: string
          enum: [fr, en]
          description: Language of the invitation email and acceptance page.
    InvitationOrigin:
      type: string
      description: >-
        Who created the invitation: TENANT_ADMIN (a tenant administrator, MVP-010) or
        PLATFORM_BOOTSTRAP (a platform administrator inviting the organization's first tenant
        administrator, MVP-014). Immutable.
      enum: [TENANT_ADMIN, PLATFORM_BOOTSTRAP]
    CreateTenantAdminBootstrap:
      type: object
      additionalProperties: false
      description: >-
        The first tenant administrator's address and invitation language. The role is fixed by the
        operation; role, tenantId and any other property are rejected (UNKNOWN_PROPERTY).
      required: [email, locale]
      properties:
        email:
          type: string
          format: email
          minLength: 3
          maxLength: 254
          description: >-
            Invitee address, validated and normalized exactly like CreateInvitation. Confidential:
            never echoed in errors and never returned.
        locale:
          type: string
          enum: [fr, en]
          description: Language of the invitation email and acceptance page.
    TenantAdminBootstrap:
      type: object
      description: >-
        Bootstrap state of one organization. Never contains addresses, memberships,
        tenant-created invitations, actors or identity-provider state.
      required: [available, invitation]
      properties:
        available:
          type: boolean
          description: >-
            True only when no tenant-admin membership and no open tenant-admin invitation of any
            origin exists, so a bootstrap invitation could be created now.
        invitation:
          description: The open PLATFORM_BOOTSTRAP invitation, if any.
          oneOf:
            - $ref: "#/components/schemas/InvitationReceipt"
            - type: "null"
    InvitationReceipt:
      type: object
      description: >-
        The result of creating or reissuing an invitation. It deliberately omits the email address
        so that the idempotency record stores no personal data; it is replayed exactly.
      required: [id, role, locale, status, deliveryState, expiresAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        role:
          $ref: "#/components/schemas/InvitationRole"
        locale:
          type: string
          enum: [fr, en]
        status:
          $ref: "#/components/schemas/InvitationStatus"
        deliveryState:
          $ref: "#/components/schemas/DeliveryState"
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    Invitation:
      type: object
      description: >-
        An invitation as seen by a tenant administrator of the owning tenant. Contains the email
        address; never a token, token hash, identity subject or actor.
      required:
        [id, email, role, locale, status, deliveryState, expiresAt, createdAt, acceptedAt,
         revokedAt, resendsRemaining, origin]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        role:
          $ref: "#/components/schemas/InvitationRole"
        locale:
          type: string
          enum: [fr, en]
        status:
          $ref: "#/components/schemas/InvitationStatus"
        deliveryState:
          $ref: "#/components/schemas/DeliveryState"
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        acceptedAt:
          type: [string, "null"]
          format: date-time
        revokedAt:
          type: [string, "null"]
          format: date-time
        resendsRemaining:
          type: integer
          minimum: 0
          maximum: 3
        origin:
          $ref: "#/components/schemas/InvitationOrigin"
    InvitationPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Invitation"
        nextCursor:
          type: string
    InvitationTokenRequest:
      type: object
      additionalProperties: false
      required: [token]
      properties:
        token:
          type: string
          maxLength: 128
          description: >-
            The single-use invitation token from the link fragment. A value of the wrong shape is
            reported as 404 INVITATION_INVALID, like an unknown token.
    InvitationPreview:
      type: object
      required: [role, locale, expiresAt]
      properties:
        role:
          $ref: "#/components/schemas/InvitationRole"
        locale:
          type: string
          enum: [fr, en]
        expiresAt:
          type: string
          format: date-time
    InvitationAcceptance:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ACCEPTED]
          description: The invitee must now follow the identity provider's email to choose a password.
    SystemStatus:
      type: object
      required: [service, status, version, checkedAt]
      properties:
        service:
          type: string
          example: core-api
        status:
          type: string
          enum: [UP, DOWN]
        version:
          type: string
        checkedAt:
          type: string
          format: date-time
    CurrentSession:
      type: object
      required: [tenantId, roles]
      properties:
        tenantId:
          description: >-
            Verified tenant claim; null only for a platform-administrator token without a tenant
            claim. Never synthesized.
          type: [string, "null"]
          format: uuid
        roles:
          type: array
          items:
            type: string
            enum: [platform-admin, tenant-admin, employee]
    ErrorCode:
      type: string
      description: Stable machine-readable code. Clients translate it; it is never localized text.
      enum:
        - VALIDATION_FAILED
        - AUTHENTICATION_REQUIRED
        - ACCESS_DENIED
        - TENANT_CONTEXT_MISSING
        - TENANT_ACCESS_DENIED
        - NOT_FOUND
        - IDEMPOTENCY_KEY_REUSED
        - COUNTRY_NOT_SUPPORTED
        - LOCALE_NOT_SUPPORTED
        - TIMEZONE_NOT_SUPPORTED
        - CURRENCY_NOT_SUPPORTED
        - LEGAL_ENTITY_NOT_FOUND
        - DUPLICATE_LEGAL_ENTITY_CODE
        - DUPLICATE_SITE_CODE
        - EFFECTIVE_DATE_INVALID
        - SITE_PERIOD_OUTSIDE_LEGAL_ENTITY
        - CURSOR_INVALID
        - SITE_NOT_FOUND
        - DUPLICATE_DEPARTMENT_CODE
        - DUPLICATE_COST_CENTER_CODE
        - DEPARTMENT_PERIOD_OUTSIDE_SITE
        - COST_CENTER_PERIOD_OUTSIDE_SITE
        - REGION_NOT_FOUND
        - DUPLICATE_REGION_CODE
        - REGION_PERIOD_OUTSIDE_LEGAL_ENTITY
        - SITE_PERIOD_OUTSIDE_REGION
        - SITE_REGION_LEGAL_ENTITY_MISMATCH
        - SITE_REGION_ALREADY_ASSIGNED
        - TEAM_PARENT_REQUIRED
        - TEAM_PARENT_AMBIGUOUS
        - DEPARTMENT_NOT_FOUND
        - COST_CENTER_NOT_FOUND
        - DUPLICATE_TEAM_CODE
        - TEAM_PERIOD_OUTSIDE_DEPARTMENT
        - TEAM_PERIOD_OUTSIDE_COST_CENTER
        - INVITATION_NOT_FOUND
        - INVITATION_ALREADY_PENDING
        - INVITATION_RECIPIENT_ALREADY_MEMBER
        - INVITATION_NOT_PENDING
        - INVITATION_RATE_LIMITED
        - INVITATION_RESEND_LIMITED
        - INVITATION_INVALID
        - INVITATION_CANNOT_BE_ACCEPTED
        - INVITATION_ACCEPTANCE_IN_PROGRESS
        - IDENTITY_PROVIDER_UNAVAILABLE
        - ORGANIZATION_NOT_FOUND
        - TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE
        - RATE_LIMITED
        - MFA_REQUIRED
        - INTERNAL_ERROR
    Problem:
      type: object
      description: RFC 9457 problem details with DivalHR extensions.
      required: [type, title, status, code, params, correlationId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: "#/components/schemas/ErrorCode"
        params:
          type: object
          description: Safe interpolation parameters. Never contains personal data.
          additionalProperties: true
        correlationId:
          type: string
