openapi: 3.1.0
info:
  title: DivalHR API
  version: 0.1.0
  description: Initial contract skeleton for the bilingual DivalHR platform.
tags:
  - name: system
    description: Platform status
  - name: identity
    description: Identity and session
  - name: tenant
    description: Tenant and organization configuration
servers:
  - url: https://api.divalhr.com/api/v1
security:
  - oauth2: []
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      x-divalhr-lifecycle: implemented
      summary: Public, non-sensitive Core API status
      description: >-
        Anonymous endpoint used by the web status screen and uptime checks. Returns no
        dependency, configuration or tenant information.
      tags: [system]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Service is ready
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
  /session:
    get:
      operationId: getCurrentSession
      x-divalhr-lifecycle: implemented
      summary: Verified tenant and roles of the caller
      description: >-
        Returns only the verified tenant identifier and recognised roles. Never returns names,
        e-mail addresses or token contents.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /organizations:
    get:
      operationId: listOrganizations
      x-divalhr-lifecycle: planned
      summary: List authorized organizations
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Authorized organizations
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
    post:
      operationId: createOrganization
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      summary: Create an organization (platform provisioning)
      description: >-
        Platform-scoped operation (MVP-001). Only a platform administrator may call it. The server
        generates the organization UUID, which is also the new tenant identifier; the caller's own
        tenant claim is never used. Retries with the same Idempotency-Key and a semantically
        identical payload replay the original 201 response (header Idempotent-Replayed: true)
        without creating another organization. Submitted values are never echoed in errors.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganization"
      responses:
        "201":
          description: Organization created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /legal-entities:
    get:
      operationId: listLegalEntities
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List legal entities of the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. The tenant comes only from the verified access
        token; no tenant identifier is accepted in headers, query parameters or bodies.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of legal entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntityPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createLegalEntity
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a legal entity in the caller's tenant
      description: >-
        Codes are trimmed, upper-cased and unique per tenant regardless of case. Retries with the
        same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLegalEntity"
      responses:
        "201":
          description: Legal entity created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /regions:
    get:
      operationId: listRegions
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List regions of one legal entity in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. A legal entity that does not exist and one that
        belongs to another tenant produce the same 404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of regions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a region beneath a legal entity of the caller's tenant
      description: >-
        Regions are an optional grouping of sites. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The region's effective period must lie within its legal
        entity's period; an open-ended region requires an open-ended legal entity. Retries with
        the same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegion"
      responses:
        "201":
          description: Region created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites:
    get:
      operationId: listSites
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List sites of one legal entity in the caller's tenant
      description: >-
        A legal entity that does not exist and one that belongs to another tenant produce the same
        404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of sites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createSite
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a site beneath a legal entity of the caller's tenant
      description: >-
        The site's effective period must lie within its legal entity's period; an open-ended site
        requires an open-ended legal entity. The time zone must be supported for the legal entity's
        country. regionId is optional; when given, the region must belong to the same legal entity
        and contain the site's period.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSite"
      responses:
        "201":
          description: Site created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites/{siteId}/region:
    put:
      operationId: assignSiteRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Assign a region to a site that has none (first assignment only)
      description: >-
        The region must belong to the site's legal entity, and the site's effective period must
        lie within the region's period. Retries with the same Idempotency-Key and an identical
        payload replay the original 200 with Idempotent-Replayed. Assigning the region the site
        already has, with a new key, returns 200 with the current site and records nothing new.
        Assigning a different region to a site that already has one returns 409
        SITE_REGION_ALREADY_ASSIGNED; changing or clearing a region is not supported. A malformed
        siteId returns 400 VALIDATION_FAILED; a missing or foreign site returns 404
        SITE_NOT_FOUND and a missing or foreign region 404 REGION_NOT_FOUND.
      tags: [tenant]
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignSiteRegion"
      responses:
        "200":
          description: >-
            The site with its region: newly assigned, already assigned to that region, or the
            original assignment replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /departments:
    get:
      operationId: listDepartments
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List departments of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without departments. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of departments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepartmentPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createDepartment
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a department beneath a site of the caller's tenant
      description: >-
        The department's effective period must lie within its site's period; an open-ended department
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among departments regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDepartment"
      responses:
        "201":
          description: Department created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Department"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /cost-centers:
    get:
      operationId: listCostCenters
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List cost centers of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without cost centers. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of cost centers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenterPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createCostCenter
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a cost center beneath a site of the caller's tenant
      description: >-
        The cost center's effective period must lie within its site's period; an open-ended cost center
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among cost centers regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCostCenter"
      responses:
        "201":
          description: Cost center created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenter"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /teams:
    get:
      operationId: listTeams
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: List the teams of one department or one cost center in the caller's tenant
      description: >-
        Exactly one of departmentId or costCenterId is required (an absent or empty parameter is
        not supplied): neither returns 400 TEAM_PARENT_REQUIRED and both return 400
        TEAM_PARENT_AMBIGUOUS, after format validation. Keyset-paginated, ordered by code then id.
        A parent that does not exist and one that belongs to another tenant produce the same 404
        DEPARTMENT_NOT_FOUND or COST_CENTER_NOT_FOUND. Cursors are bound to the operation, the
        tenant, the parent type and the parent id.
      tags: [tenant]
      parameters:
        - name: departmentId
          in: query
          required: false
          description: The parent department. Mutually exclusive with costCenterId.
          schema:
            type: string
            format: uuid
        - name: costCenterId
          in: query
          required: false
          description: The parent cost center. Mutually exclusive with departmentId.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTeam
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: Create a team beneath exactly one department or cost center of the caller's tenant
      description: >-
        The body names exactly one parent (see CreateTeam). The team's site is derived from that
        parent and never accepted from the request. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The team's effective period must lie within its parent's
        period; an open-ended team requires an open-ended parent. Retries with the same
        Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeam"
      responses:
        "201":
          description: Team created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /employees:
    get:
      operationId: listEmployees
      x-divalhr-lifecycle: planned
      summary: List employees within the authorized scope
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Employee page
    post:
      operationId: createEmployee
      x-divalhr-lifecycle: planned
      summary: Create an employee
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Employee created
  /attendance-events:
    post:
      operationId: recordAttendanceEvent
      x-divalhr-lifecycle: planned
      summary: Record an online or synchronized offline attendance event
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "202":
          description: Attendance event accepted
  /pay-periods/{payPeriodId}/inputs:
    get:
      operationId: listPayInputs
      x-divalhr-lifecycle: planned
      summary: List authorized payroll inputs for a period
      parameters:
        - name: payPeriodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Payroll inputs
  /webhooks:
    post:
      operationId: createWebhook
      x-divalhr-lifecycle: planned
      summary: Create a signed webhook subscription
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Webhook created
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://identity.divalhr.com/oauth2/authorize
          tokenUrl: https://identity.divalhr.com/oauth2/token
          scopes:
            organizations:read: Read authorized organizations
            employees:read: Read authorized employees
            employees:write: Manage authorized employees
            attendance:write: Record attendance
            payroll:read: Read authorized payroll data
  headers:
    CorrelationId:
      description: Correlation ID echoed from the request or generated by the server.
      schema:
        type: string
    IdempotentReplayed:
      description: Present with value "true" when the response replays an earlier successful request.
      schema:
        type: string
        enum: ["true"]
  responses:
    Unauthorized:
      description: Missing, invalid or expired access token
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Authenticated but not permitted (including missing or foreign tenant)
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    BadRequest:
      description: >-
        Invalid request. VALIDATION_FAILED lists params.fields[{field, constraint}] with
        constraint REQUIRED, LENGTH, FORMAT, RANGE, DUPLICATE or UNKNOWN_PROPERTY. The
        *_NOT_SUPPORTED codes carry params.field and params.supported. EFFECTIVE_DATE_INVALID,
        SITE_PERIOD_OUTSIDE_LEGAL_ENTITY, DEPARTMENT_PERIOD_OUTSIDE_SITE,
        COST_CENTER_PERIOD_OUTSIDE_SITE, REGION_PERIOD_OUTSIDE_LEGAL_ENTITY,
        TEAM_PERIOD_OUTSIDE_DEPARTMENT and TEAM_PERIOD_OUTSIDE_COST_CENTER carry params.field
        (effectiveFrom or effectiveTo). TEAM_PARENT_REQUIRED (no parent supplied) and
        TEAM_PARENT_AMBIGUOUS (both parents supplied) carry no params and follow format
        validation. SITE_PERIOD_OUTSIDE_REGION and
        SITE_REGION_LEGAL_ENTITY_MISMATCH carry params.field = regionId. CURSOR_INVALID carries no
        params. Submitted values are never echoed.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Conflict:
      description: >-
        IDEMPOTENCY_KEY_REUSED (the key was already used with a different payload), or
        DUPLICATE_LEGAL_ENTITY_CODE / DUPLICATE_SITE_CODE / DUPLICATE_DEPARTMENT_CODE /
        DUPLICATE_COST_CENTER_CODE / DUPLICATE_REGION_CODE / DUPLICATE_TEAM_CODE (the code
        already exists for that
        resource type in the tenant, in any letter case), or SITE_REGION_ALREADY_ASSIGNED (the site
        already has a different region; carries no params).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: >-
        LEGAL_ENTITY_NOT_FOUND, SITE_NOT_FOUND, REGION_NOT_FOUND, DEPARTMENT_NOT_FOUND or
        COST_CENTER_NOT_FOUND - the referenced resource does
        not exist in the caller's tenant. Missing and foreign-tenant resources are
        indistinguishable.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: Optional caller-supplied ID (8-64 chars of A-Z a-z 0-9 . _ -); otherwise generated.
      schema:
        type: string
        pattern: "^[A-Za-z0-9._-]{8,64}$"
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >-
        Client-generated key, scoped to the operation and the authenticated subject. Records are
        retained for at least 7 days and honoured until cleanup removes them; cleanup never removes
        a record before its retention boundary.
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]{16,128}$"
    Cursor:
      name: cursor
      in: query
      description: >-
        Opaque, signed continuation token from a previous page's nextCursor. It is bound to the
        operation, tenant and filters that produced it; any other use returns CURSOR_INVALID.
      schema:
        type: string
        maxLength: 512
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
  schemas:
    Organization:
      type: object
      description: An organization. Its id is also the tenant identifier.
      required: [id, name, countryCode, defaultLocale, timezone, currencies, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          items:
            type: string
            enum: [CDF, USD]
        status:
          type: string
          enum: [ACTIVE]
        createdAt:
          type: string
          format: date-time
    CreateOrganization:
      type: object
      additionalProperties: false
      required: [name, countryCode, defaultLocale, timezone, currencies]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 160
          description: Trimmed before validation; 2-160 Unicode characters.
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2. The MVP supports CD only.
          enum: [CD]
          example: CD
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          description: IANA time zone supported for the country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
          x-divalhr-timezones-by-country:
            CD: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [CDF, USD]
    LegalEntity:
      type: object
      required: [id, code, name, countryCode, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateLegalEntity:
      type: object
      additionalProperties: false
      required: [code, name, countryCode, effectiveFrom]
      properties:
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    LegalEntityPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LegalEntity"
        nextCursor:
          type: string
    Site:
      type: object
      required:
        [id, legalEntityId, regionId, code, name, timezone, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        legalEntityId:
          type: string
          format: uuid
        regionId:
          type: [string, "null"]
          format: uuid
          description: The site's region, or null for a site without a region.
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateSite:
      type: object
      additionalProperties: false
      required: [legalEntityId, code, name, timezone, effectiveFrom]
      properties:
        legalEntityId:
          type: string
          format: uuid
        regionId:
          type: [string, "null"]
          format: uuid
          description: >-
            Optional region of the same legal entity whose period contains the site's period. Omit
            or null for a site without a region.
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        timezone:
          type: string
          description: Must be supported for the legal entity's country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
    SitePage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Site"
        nextCursor:
          type: string
    Region:
      type: object
      required: [id, legalEntityId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateRegion:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        createdBy and any other property are rejected.
      required: [legalEntityId, code, name, effectiveFrom]
      properties:
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    RegionPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Region"
        nextCursor:
          type: string
    AssignSiteRegion:
      type: object
      additionalProperties: false
      description: >-
        Exactly one property. The tenant and legal entity are never taken from the request.
      required: [regionId]
      properties:
        regionId:
          type: string
          format: uuid
    CreateDepartment:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        legalEntityId, createdBy and any other property are rejected.
      required: [siteId, code, name, effectiveFrom]
      properties:
        siteId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    Department:
      type: object
      required: [id, siteId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    DepartmentPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Department"
        nextCursor:
          type: string
    CreateCostCenter:
      type: object
      additionalProperties: false
      description: >-
        The tenant comes only from the verified access token. id, tenantId, organizationId,
        legalEntityId, createdBy and any other property are rejected.
      required: [siteId, code, name, effectiveFrom]
      properties:
        siteId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    CostCenter:
      type: object
      required: [id, siteId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CostCenterPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CostCenter"
        nextCursor:
          type: string
    CreateTeam:
      type: object
      additionalProperties: false
      description: >-
        Exactly one parent: departmentId or costCenterId. An absent property and an explicit null
        both mean "not supplied". Neither supplied returns 400 TEAM_PARENT_REQUIRED and both
        supplied returns 400 TEAM_PARENT_AMBIGUOUS; a malformed supplied id returns 400
        VALIDATION_FAILED first. The site, tenant and every server-owned field (siteId, tenantId,
        organizationId, legalEntityId, regionId, id, createdBy) are rejected.
      required: [code, name, effectiveFrom]
      properties:
        departmentId:
          type: [string, "null"]
          format: uuid
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        costCenterId:
          type: [string, "null"]
          format: uuid
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
      oneOf:
        - title: DepartmentParent
          description: A team beneath a department; costCenterId is absent or null.
          required: [departmentId]
          properties:
            departmentId:
              type: string
              format: uuid
              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            costCenterId:
              type: "null"
        - title: CostCenterParent
          description: A team beneath a cost center; departmentId is absent or null.
          required: [costCenterId]
          properties:
            costCenterId:
              type: string
              format: uuid
              pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            departmentId:
              type: "null"
    Team:
      type: object
      description: >-
        A team. departmentId and costCenterId are both always present; exactly one is non-null.
        siteId is derived from the parent.
      required:
        [id, siteId, departmentId, costCenterId, code, name, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        departmentId:
          type: [string, "null"]
          format: uuid
        costCenterId:
          type: [string, "null"]
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    TeamPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Team"
        nextCursor:
          type: string
    SystemStatus:
      type: object
      required: [service, status, version, checkedAt]
      properties:
        service:
          type: string
          example: core-api
        status:
          type: string
          enum: [UP, DOWN]
        version:
          type: string
        checkedAt:
          type: string
          format: date-time
    CurrentSession:
      type: object
      required: [tenantId, roles]
      properties:
        tenantId:
          type: string
          format: uuid
        roles:
          type: array
          items:
            type: string
            enum: [platform-admin, tenant-admin, employee]
    ErrorCode:
      type: string
      description: Stable machine-readable code. Clients translate it; it is never localized text.
      enum:
        - VALIDATION_FAILED
        - AUTHENTICATION_REQUIRED
        - ACCESS_DENIED
        - TENANT_CONTEXT_MISSING
        - TENANT_ACCESS_DENIED
        - NOT_FOUND
        - IDEMPOTENCY_KEY_REUSED
        - COUNTRY_NOT_SUPPORTED
        - LOCALE_NOT_SUPPORTED
        - TIMEZONE_NOT_SUPPORTED
        - CURRENCY_NOT_SUPPORTED
        - LEGAL_ENTITY_NOT_FOUND
        - DUPLICATE_LEGAL_ENTITY_CODE
        - DUPLICATE_SITE_CODE
        - EFFECTIVE_DATE_INVALID
        - SITE_PERIOD_OUTSIDE_LEGAL_ENTITY
        - CURSOR_INVALID
        - SITE_NOT_FOUND
        - DUPLICATE_DEPARTMENT_CODE
        - DUPLICATE_COST_CENTER_CODE
        - DEPARTMENT_PERIOD_OUTSIDE_SITE
        - COST_CENTER_PERIOD_OUTSIDE_SITE
        - REGION_NOT_FOUND
        - DUPLICATE_REGION_CODE
        - REGION_PERIOD_OUTSIDE_LEGAL_ENTITY
        - SITE_PERIOD_OUTSIDE_REGION
        - SITE_REGION_LEGAL_ENTITY_MISMATCH
        - SITE_REGION_ALREADY_ASSIGNED
        - TEAM_PARENT_REQUIRED
        - TEAM_PARENT_AMBIGUOUS
        - DEPARTMENT_NOT_FOUND
        - COST_CENTER_NOT_FOUND
        - DUPLICATE_TEAM_CODE
        - TEAM_PERIOD_OUTSIDE_DEPARTMENT
        - TEAM_PERIOD_OUTSIDE_COST_CENTER
        - INTERNAL_ERROR
    Problem:
      type: object
      description: RFC 9457 problem details with DivalHR extensions.
      required: [type, title, status, code, params, correlationId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: "#/components/schemas/ErrorCode"
        params:
          type: object
          description: Safe interpolation parameters. Never contains personal data.
          additionalProperties: true
        correlationId:
          type: string
