openapi: 3.1.0
info:
  title: DivalHR API
  version: 0.1.0
  description: Initial contract skeleton for the bilingual DivalHR platform.
tags:
  - name: system
    description: Platform status
  - name: identity
    description: Identity and session
  - name: tenant
    description: Tenant and organization configuration
servers:
  - url: https://api.divalhr.com/api/v1
security:
  - oauth2: []
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      x-divalhr-lifecycle: implemented
      summary: Public, non-sensitive Core API status
      description: >-
        Anonymous endpoint used by the web status screen and uptime checks. Returns no
        dependency, configuration or tenant information.
      tags: [system]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Service is ready
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
  /session:
    get:
      operationId: getCurrentSession
      x-divalhr-lifecycle: implemented
      summary: Verified tenant and roles of the caller
      description: >-
        Returns only the verified tenant identifier and recognised roles. Never returns names,
        e-mail addresses or token contents.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /organizations:
    get:
      operationId: listOrganizations
      x-divalhr-lifecycle: planned
      summary: List authorized organizations
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Authorized organizations
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
    post:
      operationId: createOrganization
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      summary: Create an organization (platform provisioning)
      description: >-
        Platform-scoped operation (MVP-001). Only a platform administrator may call it. The server
        generates the organization UUID, which is also the new tenant identifier; the caller's own
        tenant claim is never used. Retries with the same Idempotency-Key and a semantically
        identical payload replay the original 201 response (header Idempotent-Replayed: true)
        without creating another organization. Submitted values are never echoed in errors.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganization"
      responses:
        "201":
          description: Organization created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /legal-entities:
    get:
      operationId: listLegalEntities
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List legal entities of the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. The tenant comes only from the verified access
        token; no tenant identifier is accepted in headers, query parameters or bodies.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of legal entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntityPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createLegalEntity
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a legal entity in the caller's tenant
      description: >-
        Codes are trimmed, upper-cased and unique per tenant regardless of case. Retries with the
        same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLegalEntity"
      responses:
        "201":
          description: Legal entity created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites:
    get:
      operationId: listSites
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: List sites of one legal entity in the caller's tenant
      description: >-
        A legal entity that does not exist and one that belongs to another tenant produce the same
        404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of sites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createSite
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      summary: Create a site beneath a legal entity of the caller's tenant
      description: >-
        The site's effective period must lie within its legal entity's period; an open-ended site
        requires an open-ended legal entity. The time zone must be supported for the legal entity's
        country.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSite"
      responses:
        "201":
          description: Site created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /employees:
    get:
      operationId: listEmployees
      x-divalhr-lifecycle: planned
      summary: List employees within the authorized scope
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Employee page
    post:
      operationId: createEmployee
      x-divalhr-lifecycle: planned
      summary: Create an employee
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Employee created
  /attendance-events:
    post:
      operationId: recordAttendanceEvent
      x-divalhr-lifecycle: planned
      summary: Record an online or synchronized offline attendance event
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "202":
          description: Attendance event accepted
  /pay-periods/{payPeriodId}/inputs:
    get:
      operationId: listPayInputs
      x-divalhr-lifecycle: planned
      summary: List authorized payroll inputs for a period
      parameters:
        - name: payPeriodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Payroll inputs
  /webhooks:
    post:
      operationId: createWebhook
      x-divalhr-lifecycle: planned
      summary: Create a signed webhook subscription
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Webhook created
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://identity.divalhr.com/oauth2/authorize
          tokenUrl: https://identity.divalhr.com/oauth2/token
          scopes:
            organizations:read: Read authorized organizations
            employees:read: Read authorized employees
            employees:write: Manage authorized employees
            attendance:write: Record attendance
            payroll:read: Read authorized payroll data
  headers:
    CorrelationId:
      description: Correlation ID echoed from the request or generated by the server.
      schema:
        type: string
    IdempotentReplayed:
      description: Present with value "true" when the response replays an earlier successful request.
      schema:
        type: string
        enum: ["true"]
  responses:
    Unauthorized:
      description: Missing, invalid or expired access token
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: Authenticated but not permitted (including missing or foreign tenant)
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    BadRequest:
      description: >-
        Invalid request. VALIDATION_FAILED lists params.fields[{field, constraint}] with
        constraint REQUIRED, LENGTH, FORMAT, RANGE, DUPLICATE or UNKNOWN_PROPERTY. The
        *_NOT_SUPPORTED codes carry params.field and params.supported. EFFECTIVE_DATE_INVALID and
        SITE_PERIOD_OUTSIDE_LEGAL_ENTITY carry params.field. CURSOR_INVALID carries no params.
        Submitted values are never echoed.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Conflict:
      description: >-
        IDEMPOTENCY_KEY_REUSED (the key was already used with a different payload), or
        DUPLICATE_LEGAL_ENTITY_CODE / DUPLICATE_SITE_CODE (the code already exists in the tenant,
        in any letter case).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: >-
        LEGAL_ENTITY_NOT_FOUND - the legal entity does not exist in the caller's tenant. Missing and
        foreign-tenant resources are indistinguishable.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  parameters:
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: false
      description: Optional caller-supplied ID (8-64 chars of A-Z a-z 0-9 . _ -); otherwise generated.
      schema:
        type: string
        pattern: "^[A-Za-z0-9._-]{8,64}$"
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >-
        Client-generated key, scoped to the operation and the authenticated subject. Records are
        retained for at least 7 days and honoured until cleanup removes them; cleanup never removes
        a record before its retention boundary.
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: "^[A-Za-z0-9._:-]{16,128}$"
    Cursor:
      name: cursor
      in: query
      description: >-
        Opaque, signed continuation token from a previous page's nextCursor. It is bound to the
        operation, tenant and filters that produced it; any other use returns CURSOR_INVALID.
      schema:
        type: string
        maxLength: 512
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
  schemas:
    Organization:
      type: object
      description: An organization. Its id is also the tenant identifier.
      required: [id, name, countryCode, defaultLocale, timezone, currencies, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          items:
            type: string
            enum: [CDF, USD]
        status:
          type: string
          enum: [ACTIVE]
        createdAt:
          type: string
          format: date-time
    CreateOrganization:
      type: object
      additionalProperties: false
      required: [name, countryCode, defaultLocale, timezone, currencies]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 160
          description: Trimmed before validation; 2-160 Unicode characters.
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2. The MVP supports CD only.
          enum: [CD]
          example: CD
        defaultLocale:
          type: string
          enum: [fr, en]
        timezone:
          type: string
          description: IANA time zone supported for the country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
          x-divalhr-timezones-by-country:
            CD: [Africa/Kinshasa, Africa/Lubumbashi]
        currencies:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [CDF, USD]
    LegalEntity:
      type: object
      required: [id, code, name, countryCode, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateLegalEntity:
      type: object
      additionalProperties: false
      required: [code, name, countryCode, effectiveFrom]
      properties:
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        countryCode:
          type: string
          enum: [CD]
        effectiveFrom:
          type: string
          format: date
          description: Inclusive, between 1900-01-01 and 2999-12-31.
        effectiveTo:
          type: [string, "null"]
          format: date
          description: Inclusive and not earlier than effectiveFrom; omit or null for open-ended.
    LegalEntityPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LegalEntity"
        nextCursor:
          type: string
    Site:
      type: object
      required: [id, legalEntityId, code, name, timezone, effectiveFrom, effectiveTo, createdAt]
      properties:
        id:
          type: string
          format: uuid
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          pattern: "^[A-Z0-9_-]{2,20}$"
        name:
          type: string
        timezone:
          type: string
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
        createdAt:
          type: string
          format: date-time
    CreateSite:
      type: object
      additionalProperties: false
      required: [legalEntityId, code, name, timezone, effectiveFrom]
      properties:
        legalEntityId:
          type: string
          format: uuid
        code:
          type: string
          description: Trimmed and upper-cased; 2-20 of A-Z, 0-9, hyphen and underscore.
          pattern: "^\\s*[A-Za-z0-9_-]{2,20}\\s*$"
        name:
          type: string
          minLength: 2
          maxLength: 160
        timezone:
          type: string
          description: Must be supported for the legal entity's country.
          enum: [Africa/Kinshasa, Africa/Lubumbashi]
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: [string, "null"]
          format: date
    SitePage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Site"
        nextCursor:
          type: string
    SystemStatus:
      type: object
      required: [service, status, version, checkedAt]
      properties:
        service:
          type: string
          example: core-api
        status:
          type: string
          enum: [UP, DOWN]
        version:
          type: string
        checkedAt:
          type: string
          format: date-time
    CurrentSession:
      type: object
      required: [tenantId, roles]
      properties:
        tenantId:
          type: string
          format: uuid
        roles:
          type: array
          items:
            type: string
            enum: [platform-admin, tenant-admin, employee]
    ErrorCode:
      type: string
      description: Stable machine-readable code. Clients translate it; it is never localized text.
      enum:
        - VALIDATION_FAILED
        - AUTHENTICATION_REQUIRED
        - ACCESS_DENIED
        - TENANT_CONTEXT_MISSING
        - TENANT_ACCESS_DENIED
        - NOT_FOUND
        - IDEMPOTENCY_KEY_REUSED
        - COUNTRY_NOT_SUPPORTED
        - LOCALE_NOT_SUPPORTED
        - TIMEZONE_NOT_SUPPORTED
        - CURRENCY_NOT_SUPPORTED
        - LEGAL_ENTITY_NOT_FOUND
        - DUPLICATE_LEGAL_ENTITY_CODE
        - DUPLICATE_SITE_CODE
        - EFFECTIVE_DATE_INVALID
        - SITE_PERIOD_OUTSIDE_LEGAL_ENTITY
        - CURSOR_INVALID
        - INTERNAL_ERROR
    Problem:
      type: object
      description: RFC 9457 problem details with DivalHR extensions.
      required: [type, title, status, code, params, correlationId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: "#/components/schemas/ErrorCode"
        params:
          type: object
          description: Safe interpolation parameters. Never contains personal data.
          additionalProperties: true
        correlationId:
          type: string
