openapi: 3.1.0
info:
  title: DivalHR API
  version: 0.1.0
  description: Initial contract skeleton for the bilingual DivalHR platform.
tags:
  - name: system
    description: Platform status
  - name: identity
    description: Identity and session
  - name: tenant
    description: Tenant and organization configuration
  - name: people
    description: Employees and their employment (MVP-020)
  - name: documents
    description: Contract templates, issued contracts and acknowledgements (MVP-030)
servers:
  - url: https://api.divalhr.com/api/v1
security:
  - oauth2: []
paths:
  /system/status:
    get:
      operationId: getSystemStatus
      x-divalhr-lifecycle: implemented
      summary: Public, non-sensitive Core API status
      description: >-
        Anonymous endpoint used by the web status screen and uptime checks. Returns no
        dependency, configuration or tenant information.
      tags: [system]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Service is ready
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
  /session:
    get:
      operationId: getCurrentSession
      x-divalhr-lifecycle: implemented
      summary: Verified tenant and effective roles of the caller
      description: >-
        Returns only the verified tenant identifier and the caller's effective roles. A tenant role
        (tenant-admin, employee) is returned only when the access token carries it and the caller's
        tenant membership belongs to the token's tenant with that same role (MVP-012A).
        platform-admin is returned from the token alone and is never derived from a membership; a
        platform administrator's tenant claim grants no tenant role by itself. tenantId is the
        verified tenant claim, or null for a platform-administrator token without one; it never
        implies tenant access. A token carrying only tenant roles (or no recognised role) without a
        valid tenant claim gets 403 TENANT_CONTEXT_MISSING. Never returns names, e-mail addresses,
        token contents, internal identity-provider roles, or why a role is missing. Requires no MFA
        assurance, so a privileged user whose session has not reached multifactor level can still
        load the app and be asked to step up.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /organizations:
    get:
      operationId: listOrganizations
      x-divalhr-lifecycle: planned
      summary: List authorized organizations
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Authorized organizations
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
    post:
      operationId: createOrganization
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Create an organization (platform provisioning)
      description: >-
        Platform-scoped operation (MVP-001). Only a platform administrator may call it. The server
        generates the organization UUID, which is also the new tenant identifier; the caller's own
        tenant claim is never used. Retries with the same Idempotency-Key and a semantically
        identical payload replay the original 201 response (header Idempotent-Replayed: true)
        without creating another organization. Submitted values are never echoed in errors.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganization"
      responses:
        "201":
          description: Organization created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /organizations/{organizationId}/tenant-admin-bootstrap:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    get:
      operationId: getTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Whether an organization's first tenant administrator can be invited
      description: >-
        MVP-014. available is true only while the organization has no tenant-admin membership and
        no open (PENDING or ACCEPTING) tenant-admin invitation of any origin. invitation is the
        organization's open PLATFORM_BOOTSTRAP invitation, if any, as a receipt without the
        address; tenant-created invitations, memberships, addresses, actors and identity-provider
        state are never returned. A missing, malformed or non-active organization ID returns 404
        ORGANIZATION_NOT_FOUND. The caller's own tenant claim is never used.
      tags: [tenant]
      responses:
        "200":
          description: Bootstrap availability and the open bootstrap invitation
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantAdminBootstrap"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Invite an organization's first tenant administrator
      description: >-
        MVP-014. Creates a PENDING tenant-admin invitation with origin PLATFORM_BOOTSTRAP and,
        after the transaction commits, sends the invitation email once. Allowed only while the
        organization has no tenant-admin membership and no open tenant-admin invitation of any
        origin; otherwise 409 TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE without params. The rule is
        checked inside the write transaction under the organization's tenant-administration lock,
        which every path that creates a tenant-admin invitation or membership shares. The role is
        fixed by the operation. The address is normalized like createInvitation. The invitation
        counts toward the tenant's invitation quotas (INVITATION_RATE_LIMITED); each platform
        administrator may also create at most a small number of bootstrap invitations per hour
        (RATE_LIMITED). The receipt has no address; a retry with the same Idempotency-Key and an
        identical payload for the same organization replays the original 201 exactly
        (Idempotent-Replayed) and sends nothing; the same key for another organization or
        payload returns IDEMPOTENCY_KEY_REUSED.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantAdminBootstrap"
      responses:
        "201":
          description: Bootstrap invitation created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /organizations/{organizationId}/tenant-admin-bootstrap/revoke:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    post:
      operationId: revokeTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Revoke an organization's open bootstrap invitation
      description: >-
        MVP-014. Revokes the organization's open PLATFORM_BOOTSTRAP invitation (PENDING; the link
        stops working at once) and returns 204. Idempotent by state: when no open bootstrap
        invitation exists (already revoked, expired, accepted or never created) it returns 204 and
        records nothing. A bootstrap invitation being accepted at that moment returns 409
        INVITATION_NOT_PENDING. Tenant-created invitations are never affected.
      tags: [tenant]
      responses:
        "204":
          description: No open bootstrap invitation remains
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /organizations/{organizationId}/tenant-admin-bootstrap/resend:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/CorrelationId"
    post:
      operationId: resendTenantAdminBootstrap
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: platform
      x-divalhr-required-role: platform-admin
      x-divalhr-required-assurance: mfa
      summary: Reissue an organization's open bootstrap invitation
      description: >-
        MVP-014. Reissues the open PLATFORM_BOOTSTRAP invitation with a new link under the
        MVP-010 limits (at most 3 reissues, at least 5 minutes apart: 429
        INVITATION_RESEND_LIMITED) and sends the email once after commit; the address never
        changes. Under the organization's tenant-administration lock it rechecks that the
        organization has no tenant-admin membership and no other open tenant-admin invitation
        (409 TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE). Without an open bootstrap invitation it returns
        404 INVITATION_NOT_FOUND. Replays with the same Idempotency-Key for the same organization
        replay the original 200 exactly and send nothing.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The reissued bootstrap invitation, or the original reissue replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /legal-entities:
    get:
      operationId: listLegalEntities
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List legal entities of the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. The tenant comes only from the verified access
        token; no tenant identifier is accepted in headers, query parameters or bodies.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of legal entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntityPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
    post:
      operationId: createLegalEntity
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a legal entity in the caller's tenant
      description: >-
        Codes are trimmed, upper-cased and unique per tenant regardless of case. Retries with the
        same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLegalEntity"
      responses:
        "201":
          description: Legal entity created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /regions:
    get:
      operationId: listRegions
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List regions of one legal entity in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code then id. A legal entity that does not exist and one that
        belongs to another tenant produce the same 404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of regions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a region beneath a legal entity of the caller's tenant
      description: >-
        Regions are an optional grouping of sites. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The region's effective period must lie within its legal
        entity's period; an open-ended region requires an open-ended legal entity. Retries with
        the same Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegion"
      responses:
        "201":
          description: Region created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites:
    get:
      operationId: listSites
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List sites of one legal entity in the caller's tenant
      description: >-
        A legal entity that does not exist and one that belongs to another tenant produce the same
        404 LEGAL_ENTITY_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: legalEntityId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of sites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createSite
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a site beneath a legal entity of the caller's tenant
      description: >-
        The site's effective period must lie within its legal entity's period; an open-ended site
        requires an open-ended legal entity. The time zone must be supported for the legal entity's
        country. regionId is optional; when given, the region must belong to the same legal entity
        and contain the site's period.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSite"
      responses:
        "201":
          description: Site created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /sites/{siteId}/region:
    put:
      operationId: assignSiteRegion
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Assign a region to a site that has none (first assignment only)
      description: >-
        The region must belong to the site's legal entity, and the site's effective period must
        lie within the region's period. Retries with the same Idempotency-Key and an identical
        payload replay the original 200 with Idempotent-Replayed. Assigning the region the site
        already has, with a new key, returns 200 with the current site and records nothing new.
        Assigning a different region to a site that already has one returns 409
        SITE_REGION_ALREADY_ASSIGNED; changing or clearing a region is not supported. A malformed
        siteId returns 400 VALIDATION_FAILED; a missing or foreign site returns 404
        SITE_NOT_FOUND and a missing or foreign region 404 REGION_NOT_FOUND.
      tags: [tenant]
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignSiteRegion"
      responses:
        "200":
          description: >-
            The site with its region: newly assigned, already assigned to that region, or the
            original assignment replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /departments:
    get:
      operationId: listDepartments
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List departments of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without departments. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of departments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepartmentPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createDepartment
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a department beneath a site of the caller's tenant
      description: >-
        The department's effective period must lie within its site's period; an open-ended department
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among departments regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDepartment"
      responses:
        "201":
          description: Department created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Department"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /cost-centers:
    get:
      operationId: listCostCenters
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List cost centers of one site in the caller's tenant
      description: >-
        Keyset-paginated, ordered by code (byte order) then id. An empty page is returned for an
        existing site without cost centers. A site that does not exist and one that belongs to another
        tenant produce the same 404 SITE_NOT_FOUND response.
      tags: [tenant]
      parameters:
        - name: siteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of cost centers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenterPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createCostCenter
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create a cost center beneath a site of the caller's tenant
      description: >-
        The cost center's effective period must lie within its site's period; an open-ended cost center
        requires an open-ended site. Codes are trimmed, upper-cased and unique per tenant among cost centers regardless of case.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCostCenter"
      responses:
        "201":
          description: Cost center created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenter"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /teams:
    get:
      operationId: listTeams
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: List the teams of one department or one cost center in the caller's tenant
      description: >-
        Exactly one of departmentId or costCenterId is required (an absent or empty parameter is
        not supplied): neither returns 400 TEAM_PARENT_REQUIRED and both return 400
        TEAM_PARENT_AMBIGUOUS, after format validation. Keyset-paginated, ordered by code then id.
        A parent that does not exist and one that belongs to another tenant produce the same 404
        DEPARTMENT_NOT_FOUND or COST_CENTER_NOT_FOUND. Cursors are bound to the operation, the
        tenant, the parent type and the parent id.
      tags: [tenant]
      parameters:
        - name: departmentId
          in: query
          required: false
          description: The parent department. Mutually exclusive with costCenterId.
          schema:
            type: string
            format: uuid
        - name: costCenterId
          in: query
          required: false
          description: The parent cost center. Mutually exclusive with departmentId.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of teams
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTeam
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      x-divalhr-exactly-one-of: [departmentId, costCenterId]
      summary: Create a team beneath exactly one department or cost center of the caller's tenant
      description: >-
        The body names exactly one parent (see CreateTeam). The team's site is derived from that
        parent and never accepted from the request. Codes are trimmed, upper-cased and unique per
        tenant regardless of case. The team's effective period must lie within its parent's
        period; an open-ended team requires an open-ended parent. Retries with the same
        Idempotency-Key and an identical payload replay the original 201.
      tags: [tenant]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeam"
      responses:
        "201":
          description: Team created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /invitations:
    get:
      operationId: listInvitations
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List invitations of the caller's tenant
      description: >-
        Newest first (createdAt then id, both descending), keyset-paginated. The optional status
        filter uses the public status: a PENDING invitation past its expiry is reported and
        filtered as EXPIRED, and one whose acceptance is in progress as PENDING. The response
        contains invitee email addresses (confidential personal data) and is marked
        Cache-Control private, no-store. It never contains tokens, token hashes or identity
        subjects. Cursors are bound to invitation.list, the verified tenant and the status filter.
      tags: [identity]
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvitationStatus"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of invitations
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
    post:
      operationId: createInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Invite a person by email with one tenant role
      description: >-
        Creates a PENDING invitation in the caller's verified tenant and, after the transaction
        commits, sends the invitation email once. Only tenant-admin and employee can be assigned;
        platform-admin and any other value are rejected like an unknown role. The email address is
        normalized (trimmed, NFC, lower-cased; the domain converted to ASCII) and compared case
        insensitively. Only the caller's own tenant is consulted: 409 INVITATION_ALREADY_PENDING
        when an open invitation for the address exists in the tenant, 409
        INVITATION_RECIPIENT_ALREADY_MEMBER when the address already belongs to a member of the
        tenant. An address known elsewhere gives the same 201 as any other. The response is an
        InvitationReceipt without the email address; retries with the same Idempotency-Key and an
        identical payload replay the original 201 exactly (Idempotent-Replayed), even after the
        invitation changed.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvitation"
      responses:
        "201":
          description: Invitation created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /invitations/{invitationId}/revoke:
    post:
      operationId: revokeInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Revoke a pending invitation
      description: >-
        PENDING becomes REVOKED and the invitation link stops working immediately. Revoking an
        invitation that is already REVOKED returns 200 with the current invitation and records
        nothing new. An accepted, expired or accepting invitation returns 409
        INVITATION_NOT_PENDING. A missing invitation and one of another tenant return the same
        404 INVITATION_NOT_FOUND; a malformed invitationId returns 400 VALIDATION_FAILED.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The revoked invitation
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /invitations/{invitationId}/resend:
    post:
      operationId: resendInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Reissue a pending invitation with a new link
      description: >-
        Generates a new token, invalidates the previous link, restarts the expiry and sends the
        email once after commit. Only the newest link is valid. At most 3 reissues per invitation,
        at least 5 minutes apart (429 INVITATION_RESEND_LIMITED with Retry-After). Replays with the
        same Idempotency-Key replay the original 200 exactly and send nothing. An invitation whose
        origin is PLATFORM_BOOTSTRAP is never reissued by a tenant administrator (409
        TENANT_ADMIN_BOOTSTRAP_UNAVAILABLE; MVP-014); it can still be revoked.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The reissued invitation, or the original reissue replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /access-review/entries:
    get:
      operationId: listAccessReviewEntries
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Review the active access of the caller's organization
      description: >-
        MVP-012B. Lists the caller's organization's tenant memberships with the same authority the
        membership gate enforces (MVP-012A): accessState ACTIVE exactly when the gate admits the
        membership; MVP-022 adds memberships whose access a separation revoked, labelled REVOKED.
        Every member has organization-wide access, so a legal-entity or site filter returns every member with matchedUnit INHERITED_FROM_TENANT
        after checking that the unit exists in the caller's tenant (missing and foreign units are
        indistinguishable 404s). At most one of legalEntityId and siteId. Newest grant first
        (grantedAt then membershipId, both descending), keyset-paginated: stable and
        duplicate-free under concurrent inserts, but not a snapshot (a membership added after the
        first page may be omitted from that traversal and appears on a fresh review). Cursors are
        bound to the operation, tenant, role filter, unit type, unit ID and page size. Contains
        confidential email addresses: Cache-Control private, no-store on every response. Every 200
        is durably audited as access-review.read before the body is written; if the audit cannot
        be committed the response is 500 INTERNAL_ERROR without review data. At most 30 review
        requests per minute per subject across the three access-review operations (429
        RATE_LIMITED with Retry-After). Future direct scopes (LEGAL_ENTITY, SITE; inheritance
        DIRECT) are reserved for story S1 and are not part of this contract yet.
      tags: [identity]
      parameters:
        - name: role
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvitationRole"
        - name: legalEntityId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: siteId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/AccessReviewLimit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of active access
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessReviewPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /access-review/lookup:
    post:
      operationId: lookupAccessReviewEntry
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Find the active access of one exact email address
      description: >-
        MVP-012B. Exact, normalized address match (no partial or prefix search) through the keyed
        address lookup, in the caller's tenant only. Returns the same page shape with zero or one
        entry; a non-member, an unknown address and a member of another tenant all give the same
        empty page. The submitted address is never echoed: a matched membership whose address was
        not recorded is returned with email null. A read: no Idempotency-Key and no state change.
        Cache-Control private, no-store; durable access-review.read audit before the body is
        written (also for an empty result); shared 30 requests per minute per subject.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessReviewLookup"
      responses:
        "200":
          description: Zero or one entry
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessReviewPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /access-review/summary:
    get:
      operationId: getAccessReviewSummary
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Count the active members of the caller's organization per role
      description: >-
        MVP-012B. Counts computed with the same active-membership predicate as the entries, so the
        two never disagree. Cache-Control private, no-store; durable access-review.read audit
        before the body is written; shared 30 requests per minute per subject.
      tags: [identity]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Members per role
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessReviewSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /employee-imports/template:
    get:
      operationId: getEmployeeImportTemplate
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Download the employee import template
      description: >-
        MVP-020. A server-owned CSV with the header row only, in French or English (no sample row,
        so nothing fictitious can be imported). UTF-8 with a byte-order mark and a comma delimiter;
        the header labels are those the import accepts.
      tags: [people]
      parameters:
        - name: lang
          in: query
          required: true
          schema:
            type: string
            enum: [fr, en]
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The CSV template
          headers:
            Content-Disposition:
              description: attachment; filename="divalhr-employee-import-<lang>.csv"
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
  /employee-imports:
    post:
      operationId: createEmployeeImport
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Upload and validate an employee CSV
      description: >-
        MVP-020. The request body is the CSV itself (text/csv; multipart is rejected). It is read
        only after authorization and the per-subject and per-tenant request limits, as a stream
        bounded to 2 MiB and 30 seconds, decoded as strict UTF-8 (a byte-order mark is ignored),
        and never stored: valid rows are staged as normalized values for 2 hours and invalid rows
        keep only their error codes. A file-level problem creates nothing (400
        IMPORT_FILE_INVALID with params.reason and, for header problems, params.column = the
        1-based header position; 413 IMPORT_FILE_TOO_LARGE; 408 IMPORT_UPLOAD_TIMEOUT). At most 3
        open imports per tenant (409 IMPORT_LIMIT_REACHED). Retries with the same Idempotency-Key
        and identical bytes replay the original 201. Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          text/csv:
            schema:
              type: string
              maxLength: 2097152
      responses:
        "201":
          description: Import validated and staged, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeImport"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "408":
          $ref: "#/components/responses/RequestTimeout"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employee-imports/{importId}:
    get:
      operationId: getEmployeeImport
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Read an employee import's status and counts
      description: >-
        MVP-020. Counts and status only, never personal data. Imports of another tenant, unknown
        and malformed IDs give the same 404 EMPLOYEE_IMPORT_NOT_FOUND. Import details are kept for
        30 days after the import is closed (operational policy, configurable 1-90 days).
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeImportId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The import
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeImport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /employee-imports/{importId}/rows:
    get:
      operationId: listEmployeeImportRows
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Preview an employee import row by row
      description: >-
        MVP-020. Rows in file order, keyset-paginated on the row number; cursors are bound to the
        operation, tenant, import, status filter and page size. Valid rows of an open import carry
        the normalized values that will be created; invalid rows carry only the row number, column
        keys and stable codes, never a submitted value. After commit, discard or expiry no row
        carries values and the new employees are not identified. Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeImportId"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [all, valid, invalid]
            default: all
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/EmployeeImportRowLimit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of rows
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeImportRowPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /employee-imports/{importId}/commit:
    post:
      operationId: commitEmployeeImport
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Create the employees of the valid rows
      description: >-
        MVP-020. Creates one employee and one employment per valid row in a single transaction,
        or nothing. The command repeats what the administrator reviewed: previewDigest and
        validRows must match the staged import (409 IMPORT_PREVIEW_CHANGED), and
        acknowledgeInvalidRows must be true when some rows are invalid (400 VALIDATION_FAILED).
        Rows are re-validated inside the transaction; any change since the preview (an employee
        number now taken, a unit no longer valid) creates nothing (409 IMPORT_STALE). An import
        that is not open answers 409 IMPORT_NOT_COMMITTABLE with params.status; zero valid rows
        answers 409 IMPORT_NOTHING_TO_COMMIT. A database timeout creates nothing (503
        IMPORT_TIMEOUT). Existing employees are never updated, and no user account, invitation or
        membership is created. Retries with the same Idempotency-Key replay the original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeImportId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitEmployeeImport"
      responses:
        "200":
          description: Employees created, or the original commit replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeImport"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employee-imports/{importId}/discard:
    post:
      operationId: discardEmployeeImport
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Discard an open employee import
      description: >-
        MVP-020. Erases the staged values of an open import and closes it. Discarding an import
        that is already discarded returns it unchanged; a committed or expired import answers 409
        IMPORT_NOT_COMMITTABLE with params.status.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeImportId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The discarded import
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeImport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /public/invitations/inspect:
    post:
      operationId: inspectInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: public
      summary: Inspect an invitation by its token (anonymous)
      description: >-
        The token travels only in this body, never in a URL. A usable invitation returns its role,
        locale and expiry, and nothing about the organization, tenant or any account. An unknown,
        malformed, expired, revoked or accepted token returns the same 404 INVITATION_INVALID.
        Access tokens are neither required nor read. Responses are Cache-Control no-store.
        Requests are rate limited per client (429 RATE_LIMITED with Retry-After); production
        deployments must also limit these paths at the ingress or WAF.
      tags: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationTokenRequest"
      responses:
        "200":
          description: The invitation can be accepted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPreview"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/InvitationInvalid"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /public/invitations/accept:
    post:
      operationId: acceptInvitation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: public
      summary: Accept an invitation by its token (anonymous)
      description: >-
        Creates the invitee's identity in the identity provider with the invitation's tenant and
        role, records the tenant membership, consumes the token and asks the identity provider to
        email a link to choose a password. The email address is marked verified only because
        possessing this single-use token proves control of the mailbox. No person or employee
        record is created. 404 INVITATION_INVALID covers every unusable token. 409
        INVITATION_CANNOT_BE_ACCEPTED (no params, no reason) is returned when the address already
        has a DivalHR identity; the invitation stays pending. 409
        INVITATION_ACCEPTANCE_IN_PROGRESS and 503 IDENTITY_PROVIDER_UNAVAILABLE are retryable with
        the same token. Responses are Cache-Control no-store and rate limited like inspection.
      tags: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationTokenRequest"
      responses:
        "200":
          description: The invitation was accepted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationAcceptance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/InvitationInvalid"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees:
    get:
      operationId: listEmployees
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List the organization's employees
      description: >-
        MVP-021. Employees of the caller's tenant ordered by employee number, keyset-paginated;
        cursors are bound to the operation, tenant and page size. There is no free-text filter on
        this path: search uses POST /employees/search so that names never appear in URLs. Each
        successful page is recorded as a disclosure (audit employee.list) before it is returned.
        Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/EmployeeLimit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of employees
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createEmployee
      x-divalhr-lifecycle: planned
      summary: Create an employee
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Employee created
  /attendance-events:
    post:
      operationId: recordAttendanceEvent
      x-divalhr-lifecycle: planned
      summary: Record an online or synchronized offline attendance event
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "202":
          description: Attendance event accepted
  /pay-periods/{payPeriodId}/inputs:
    get:
      operationId: listPayInputs
      x-divalhr-lifecycle: planned
      summary: List authorized payroll inputs for a period
      parameters:
        - name: payPeriodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Payroll inputs
  /webhooks:
    post:
      operationId: createWebhook
      x-divalhr-lifecycle: planned
      summary: Create a signed webhook subscription
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Webhook created
  /employees/search:
    post:
      operationId: searchEmployees
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Search employees by employee number or name
      description: >-
        MVP-021. The query travels only in this body. It matches an employee-number prefix, or
        every query word as the start of a word of the given names or family name, ignoring
        letter case and accents. Results are ordered by employee number; cursors are bound to the
        operation, tenant, page size and a hash of the normalized query (never the query itself).
        The query is never logged, audited or echoed. Each successful page is recorded as a
        disclosure (audit employee.search). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeSearch"
      responses:
        "200":
          description: A page of matching employees
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}:
    get:
      operationId: getEmployee
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Read one employee's profile and current employment state
      description: >-
        MVP-021. The employee, the employment period and, per assignment kind, the row covering
        the business date (today in the organization's time zone), or null. Unknown, foreign and
        malformed IDs give the same 404 EMPLOYEE_NOT_FOUND. Recorded as a disclosure (audit
        employee.read). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The employee profile
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/timeline:
    get:
      operationId: listEmploymentTimeline
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List an employee's effective-dated assignments
      description: >-
        MVP-021. Assignment rows ordered by kind, then start date. By default only active rows
        (the current history); includeSuperseded=true also lists rows replaced by later changes,
        corrections or cancellations, with supersededAt. Cursors are bound to the operation,
        tenant, employee, filters and page size. Recorded as a disclosure (audit
        employee.timeline). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: kind
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AssignmentKind"
        - name: includeSuperseded
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/TimelineLimit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of assignment rows
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignmentPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/employment-changes:
    get:
      operationId: listEmploymentChanges
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List an employee's recorded employment changes
      description: >-
        MVP-021. The append-only change log, newest first: hire, changes, corrections and
        cancellations, including cancelled changes. The recording actor is not returned (it is in
        the audit trail). Recorded as a disclosure (audit employment-change.list). Cache-Control
        private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/EmployeeLimit"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: A page of changes
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentChangePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createEmploymentChange
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Record an effective-dated change or a correction
      description: >-
        MVP-021. Repeats a previewed command with the expectedVersion and previewDigest the
        preview returned. In one transaction the employment is locked, the version checked (409
        EMPLOYMENT_VERSION_CONFLICT), every rule re-validated, and the change recomputed; any
        difference from the preview gives 409 EMPLOYMENT_PREVIEW_CHANGED and nothing is written.
        A retroactive change needs a reason code and acknowledgeRetroactive=true. Nothing is
        updated in place: replaced rows are superseded and kept. Business changes, audit and outbox
        commit together. Retries with the same Idempotency-Key replay the original 201.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmploymentChange"
      responses:
        "201":
          description: Change recorded, or the original recording replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentChangeResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/employment-changes/preview:
    post:
      operationId: previewEmploymentChange
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Preview an effective-dated change or a correction
      description: >-
        MVP-021. Validates the command and returns, per affected kind, the exact rows before and
        after, the timing, whether a reason and acknowledgement are needed, warnings, the
        employment version and a previewDigest to repeat in the commit. Writes nothing. Recorded as
        a disclosure (audit employment-change.preview). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmploymentChangeCommand"
      responses:
        "200":
          description: The preview
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentChangePreview"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/employment-changes/{changeId}/cancel/preview:
    post:
      operationId: previewEmploymentChangeCancellation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Preview the cancellation of a scheduled change
      description: >-
        MVP-021. Only an ACTIVE change whose effective date is after the business date can be
        cancelled (409 EMPLOYMENT_CHANGE_NOT_CANCELLABLE). Returns, per kind, the rows removed and
        the rows restored (bounded by the next active row; later changes are never altered), the
        employment version and a cancellationDigest. When restoration would alter a later row
        derived from the change, 409 EMPLOYMENT_CHANGE_HAS_DEPENDENTS. Writes nothing. Recorded as
        a disclosure (audit employment-change.cancel-preview). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/EmploymentChangeId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The cancellation preview
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentChangeCancellationPreview"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/employment-changes/{changeId}/cancel:
    post:
      operationId: cancelEmploymentChange
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Cancel a scheduled change
      description: >-
        MVP-021. Repeats the expectedVersion and cancellationDigest of the cancellation preview.
        The employment is locked and everything recomputed; a different version gives 409
        EMPLOYMENT_VERSION_CONFLICT and a different result 409 EMPLOYMENT_PREVIEW_CHANGED. The
        cancellation is itself a recorded change (type CANCELLATION) that keeps the cancelled
        change and its rows. Retries with the same Idempotency-Key replay the original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/EmploymentChangeId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelEmploymentChange"
      responses:
        "200":
          description: Change cancelled, or the original cancellation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentChangeResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/access-link:
    get:
      operationId: getEmployeeAccessLink
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Read the DivalHR access linked to an employee
      description: >-
        MVP-022. The employee's active link to one tenant membership, or none, and the access state
        that follows from any separation. Never returns the identity subject or the address.
        Recorded as a disclosure (audit employee-access-link.read). Cache-Control private,
        no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The employee's access link
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeAccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createEmployeeAccessLink
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Link an employee to one tenant membership
      description: >-
        MVP-022. Links the employee to a membership of the caller's tenant found through the exact
        address lookup. One active link per employee and per membership (409 ACCESS_LINK_CONFLICT
        with params.reason EMPLOYEE_LINKED, ALREADY_LINKED or ACCESS_REVOKED). Never inferred from
        names. Retries with the same Idempotency-Key replay the original 201.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmployeeAccessLink"
      responses:
        "201":
          description: Link created, or the original creation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeAccess"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/access-link/lookup:
    post:
      operationId: lookupEmployeeAccessCandidate
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Find the membership of one exact address to link
      description: >-
        MVP-022. Exact, normalized address match through the keyed address lookup, in the caller's
        tenant only; no list, prefix or name search. An unknown address and a member of another
        tenant both give 404 MEMBERSHIP_NOT_FOUND. The address is never echoed or logged. A read:
        no Idempotency-Key. Recorded as a disclosure (audit employee-access-link.lookup).
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessReviewLookup"
      responses:
        "200":
          description: The candidate membership
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessLinkCandidate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/access-link/remove:
    post:
      operationId: removeEmployeeAccessLink
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Remove an employee's access link
      description: >-
        MVP-022. Ends the active link (the row is kept). Refused while the employee has a separation
        that is not cancelled (409 ACCESS_LINK_LOCKED); a stale version gives 409
        ACCESS_LINK_VERSION_CONFLICT. Retries with the same Idempotency-Key replay the original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveEmployeeAccessLink"
      responses:
        "200":
          description: Link removed, or the original removal replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeAccess"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/separations:
    get:
      operationId: listEmployeeSeparations
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: List an employee's separations
      description: >-
        MVP-022. Separations newest first, including cancelled ones, each with its access state and
        follow-up checklist. Recorded as a disclosure (audit employee-separation.read).
        Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The separations
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createEmployeeSeparation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Record a separation
      description: >-
        MVP-022. Repeats a previewed separation with the expectedVersion and previewDigest the
        preview returned and the acknowledgements it required. In one transaction the reporting
        graph, the employments and the access link are locked in the global order, everything is
        recomputed, and the employment is closed on the last day; direct-report intervals are
        rewritten by lineage-backed changes; the linked membership's revocation is scheduled; the
        checklist is created; audit and outbox commit together. Nothing is deleted. Retries with the
        same Idempotency-Key replay the original 201.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSeparation"
      responses:
        "201":
          description: Separation recorded, or the original recording replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/separations/preview:
    post:
      operationId: previewEmployeeSeparation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Preview a separation
      description: >-
        MVP-022. Validates the separation and returns the employee's own timeline effects, the
        blocking future effects (to cancel first), the affected direct-report intervals, the access
        consequence, the checklist, the acknowledgements the commit needs, the employment version
        and a previewDigest. Writes nothing. Recorded as a disclosure (audit
        employee-separation.preview). Cache-Control private, no-store.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SeparationCommand"
      responses:
        "200":
          description: The preview
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationPreview"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/separations/{separationId}/cancel/preview:
    post:
      operationId: previewEmployeeSeparationCancellation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Preview the cancellation of a scheduled separation
      description: >-
        MVP-022. Only a SCHEDULED separation whose access revocation has not taken effect can be
        cancelled (409 SEPARATION_NOT_CANCELLABLE with params.reason NOT_SCHEDULED,
        ACCESS_ALREADY_REVOKED or HISTORY_CHANGED_SINCE). Returns the rows restored for the
        employee and the number of direct-report intervals restored, the employment version and a
        cancellationDigest. Writes nothing. Recorded as a disclosure (audit
        employee-separation.cancel-preview).
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/SeparationId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: The cancellation preview
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationCancellationPreview"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /employees/{employeeId}/separations/{separationId}/cancel:
    post:
      operationId: cancelEmployeeSeparation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Cancel a scheduled separation
      description: >-
        MVP-022. Repeats the expectedVersion and cancellationDigest of the cancellation preview. In
        one transaction, with the same lock order as the separation, the employee's rows and every
        rewritten direct-report interval are restored by recorded cancellations, the employment is
        reopened, the scheduled revocation and the checklist are cancelled, and audit and outbox
        commit together. Retries with the same Idempotency-Key replay the original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/SeparationId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelSeparation"
      responses:
        "200":
          description: Separation cancelled, or the original cancellation replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/separations/{separationId}/tasks/{taskId}/status:
    post:
      operationId: updateSeparationTaskStatus
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Mark a follow-up task done, not applicable, or open again
      description: >-
        MVP-022. A checklist task is a follow-up reminder, not an asset or document record. A stale
        version gives 409 SEPARATION_TASK_VERSION_CONFLICT; the tasks of a cancelled separation
        are closed (409 SEPARATION_TASK_CLOSED). Retries with the same Idempotency-Key replay the
        original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/SeparationId"
        - $ref: "#/components/parameters/SeparationTaskId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSeparationTask"
      responses:
        "200":
          description: Task updated, or the original update replayed
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivateNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeparationTask"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PrivilegedForbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /employees/{employeeId}/separations/{separationId}/access-revocation/retry:
    post:
      operationId: retrySeparationAccessRevocation
      x-divalhr-lifecycle: implemented
      x-divalhr-scope: tenant
      x-divalhr-required-role: tenant-admin
      x-divalhr-required-assurance: mfa
      summary: Retry the sign-in removal of a separated employee
      description: >-
        MVP-022. Only when the revocation needs manual intervention (409
        ACCESS_REVOCATION_NOT_RETRYABLE otherwise). Re-queues the identity-provider step with a
        fresh attempt budget; access to DivalHR data stays denied throughout. The request has no
        body. Retries with the same Idempotency-Key replay the original 200.
      tags: [people]
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - $ref: "#/components/parameters/SeparationId"
[...]
